name: Auto-update ABI JSON file

on:
  workflow_dispatch:
  schedule:
    - cron: '0 15-23,0-3 * * *'

jobs:
  autoupdate:
    runs-on: ubuntu-latest
    steps:
    - name: Generate GitHub App token
      uses: electron/github-app-auth-action@384fd19694fe7b6dcc9a684746c6976ad78228ae # v1.1.1
      id: generate-token
      with:
        creds: ${{ secrets.GH_APP_CREDS }}
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        token: ${{ steps.generate-token.outputs.token }}
    - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
      with:
        node-version: '20.x'
    - name: Get npm cache directory
      id: npm-cache
      run: |
        echo "dir=$(npm config get cache)" >> $GITHUB_OUTPUT
    - uses: actions/cache@ab5e6d0c87105b4c9c2047343972218f562e4319 # v4.0.1
      with:
        path: ${{ steps.npm-cache.outputs.dir }}
        key: ${{ runner.os }}-node-${{ hashFiles('**/package.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - run: npm install --no-package-lock
    - name: Update ABI registry
      run: |
        npm run update-abi-registry
        git add abi_registry.json
    - name: Commit Changes to ABI registry
      uses: dsanders11/github-app-commit-action@1dd0a2d22c564461d3f598b6858856e8842d7a16 # v1.1.0
      with:
        fail-on-no-changes: false
        message: 'feat: update ABI registry'
        token: ${{ steps.generate-token.outputs.token }}
